@import "scss-variables";
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import "~react-input-range-ios-fix/lib/css/index.css";
@import "~@appigram/react-rangeslider/lib/index.css";
$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';

$material-icons-codepoints: () !default; /* Sass map of icon names and codepoints */
$material-icons-font-path: '' !default;
$material-icons-font-name: 'MaterialIcons-Regular' !default;
$material-icons-font-size: 24px !default;
$material-icons-font-family: 'Material Icons' !default;

.material-icons {
  @include material-icons();
}

body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  width: 100%;
  height: 100%;
  &:before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('./image/milky_way.gif');
    background-position: 50% 50%;
    background-size: 60%;
    background-repeat: no-repeat;
    opacity: 0.05;
  }
}

* {
  padding:0; margin:0;
}
html, body {
  height:100%;
  overflow: hidden;
  background-color: var(--black);
}

.buttonIcon {
  width: 50px;
  height: 50px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #316851;
  cursor: pointer;
  background: #071820;
  opacity: 0.2;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  box-shadow: 2px 2px 2px #071820;
  &_small {
    width: 38px;
    height: 38px;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("./image/bubble.png");
    background-size: cover;
  }
  &:active{
    margin-top: 1px;
    opacity: 0.8;
    box-shadow: 0px 0px 2px #071820;
  }
  &.active {
    opacity: 1;
    color: #dff8d0;
    border-color: #dff8d0;
  }
  &.loading {
    animation: rotateButton 2s linear infinite;
  }
}
.visualiser-element,
.boy-element {
  position: fixed;
  top: 0;
  left: 0;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #86c06c;
  user-select: none;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

  &.md-18 { font-size: 18px; }
  &.md-24 { font-size: 24px; }
  &.md-36 { font-size: 36px; }
  &.md-48 { font-size: 48px; }
}

.pauseButton,
.playButton,
.startButton{
  font-size: 30px;
  z-index: 1000;
  cursor: pointer;

}

.startButton{
  padding: 0;
  text-shadow: 12px 6px 11px #071820;
  position: fixed;
  margin: 0 auto;
  color: #86c06c;
  transform: translateX(-50%);
  top: calc(50% - 58px);
  left: 50%;
  opacity: 0.2;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transition: color 0.2s, opacity 0.2s;
  -webkit-transition: color 0.2s, opacity 0.2s;
  -moz-transition: color 0.2s, opacity 0.2s;
  -o-transition: color 0.2s, opacity 0.2s;
  font-size: 152px;
  &.inactive {
    opacity: 1;
  }
  &:hover{
    opacity: 1;
    color: #dff8d0;
  }
}

.progressSwitcher {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  cursor: pointer;
}

.input-range__slider{
  width: 10px;
  height: 10px;
  margin-top: -6px;
  border-color: #316851;
  background: #dff8d0;

}
.input-range__track {
  height: 6px;

}
.input-range__track--active{
  background: #dff8d0;
  height: 10px;
  margin-top: -2px;
}
.input-range__slider-container{
  margin-top: -5px;
  & > span {
    display: none;
  }
}
.input-range__track--background{
  background: #86c06c;
}


.mainLogo{
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 60vw;
  vertical-align: middle;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  display: block;
}
.hidden-text{
  position: fixed;
  top:0;
  left: 0;
  opacity: 0;
}

.subWrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  display: block;
  width: 234px;
  height: 240px;
  overflow: hidden;
  box-sizing: border-box;
  padding-top: 30px;
  z-index: 1;
  &__title {
    color: #dff8d0;
  }
}

.settings{
  padding-top: 20px;
}

.volumeSwitcher{
  width: 160px;
  position: relative;
  margin: 0 auto;
  & > span {
    display: none;
  }
}
.switcherHeader{
  position: relative;
  margin: 0 auto 4px;
  display: block;
  cursor: pointer;
  text-shadow: 3px 1px 2px #071820 ;
  color: #86c06c;
  transition: color 0.2s, opacity 0.2s;
  -webkit-transition: color 0.2s, opacity 0.2s;
  -moz-transition: color 0.2s, opacity 0.2s;
  -o-transition: color 0.2s, opacity 0.2s;
  opacity: 1;
  &:hover{
    opacity: 0.8;
  }
  &.active {
    color: #dff8d0;
    .audioSwitcher {
      color: #dff8d0;
    }
  }
}

.audioSwitcher{
  color: #86c06c;
  display: inline-block;
  margin: 0 3px;
  padding: 0;
  line-height: 24px;
  vertical-align: middle;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
}
.volumeValue {
  position: fixed;
  top: 10px;
  left: 50%;
  color: #86c06c;
}

.imageWrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 324px;
  height: 324px;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  &:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("./image/bubble.png");
    top:0;
    background-size: cover;
    left: 0;
  }
}

.trackImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  height: 324px;
  display: block;
  &.boy {
    left: calc(50% + 4px);
    width: 200px;
    border-radius: 0;
  }
}

.rangeslider {
  background-color: #86c06c;
  margin: 6px 0 10px;
  cursor: pointer;
}

.trackTitle {
  color: #dff8d0;
  font-size: 12px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: spinZ 60s linear infinite;
  text-align: center;
  font-weight: 700;
  text-shadow: 2px 2px 2px #000;
  span {
    position: absolute;
    display: inline-block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-transform: uppercase;
    line-height: 20px;
  }

  @keyframes spinZ {
    0% {
      transform: rotateZ(360deg);
    }
    100% {
      transform: rotateZ(0deg);
    }
  }
  @-webkit-keyframes spinZ {
    0% {
      -webkit-transform: rotateZ(360deg);
    }
    100% {
      -webkit-transform: rotateZ(0deg);
    }
  }

  @-moz-keyframes spinZ {
    0% {
      -moz-transform: rotateZ(360deg);
    }
    100% {
      -moz-transform: rotateZ(0deg);
    }
  }
  @-o-keyframes spinZ {
    0% {

      -o-transform: rotateZ(360deg);
    }
    100% {
      -o-transform: rotateZ(0deg);
    }
  }
  @-ms-keyframes spinZ {
    0% {
      -ms-transform: rotateZ(360deg);
    }
    100% {
      -ms-transform: rotateZ(0deg);
    }
  }
}

@keyframes rotateButton {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotateButton {
  0% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotateButton {
  0% {
    -moz-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes rotateButton {
  0% {
    -o-transform: rotate(0);
  }
  100% {
    -o-transform: rotate(360deg);
  }
}
@-ms-keyframes rotateButton {
  0% {
    -o-transform: rotate(0);
  }
  100% {
    -o-transform: rotate(360deg);
  }
}




@keyframes buyLink {
  0% {
    background: #dff8d0;
  }
  50% {
    background: #86c06c;
  }
  100% {
    background: #dff8d0;
  }
}
@-webkit-keyframes buyLink {
  0% {
    background: #dff8d0;
  }
  50% {
    background: #86c06c;
  }
  100% {
    background: #dff8d0;
  }
}
@-moz-keyframes buyLink {
  0% {
    background: #dff8d0;
  }
  50% {
    background: #86c06c;
  }
  100% {
    background: #dff8d0;
  }
}
@-o-keyframes buyLink {
  0% {
    background: #dff8d0;
  }
  50% {
    background: #86c06c;
  }
  100% {
    background: #dff8d0;
  }
}
@-ms-keyframes buyLink {
  0% {
    background: #dff8d0;
  }
  50% {
    background: #86c06c;
  }
  100% {
    background: #dff8d0;
  }
}

@for $i from 0 through 29 {
  .char-#{$i} {
    transform: rotateZ(#{(360 / 29 * $i)}deg) translate3d(0px, 0px, 0px);
    -webkit-transform: rotateZ(#{(360 / 30 * $i)}deg) translate3d(0px, 0px, 0px);
    -moz-transform: rotateZ(#{(360 / 30 * $i)}deg) translate3d(0px, 0px, 0px);
    -ms-transform: rotateZ(#{(360 / 30 * $i)}deg) translate3d(0px, 0px, 0px);
    -o-transform: rotateZ(#{(360 / 30 * $i)}deg) translate3d(0px, 0px, 0px);
  }
}

.rangeslider-horizontal {
  height: 6px;
  position: relative;
  & .rangeslider__handle{
    width: 16px;
    height: 16px;
    background-color: #dff8d0;
    box-shadow: none;
    outline: none;
    &:after{
      display: none;
    }

  }
  & .rangeslider__fill{
    background-color: #dff8d0;
    height: 10px;
    width: 139px;
    position: absolute;
    top: -1px;
  }
}
.playerWrapper {
  width: 324px;
  height: 324px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  &:hover{
    .buttonIcon {
      opacity: 0.8;
      &:hover,
      &:active{
        opacity: 1;
      }
    }
  }
}
.playerMenu {
  position: absolute;
  bottom: 14px;
  left: 50%;
  width: 78px;
  height: 50px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  z-index: 2;
}
.pauseButton,
.playButton {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -25px;
  color: #86c06c;
  border-radius: 50%;
  border: 2px solid #316851;
  background: #071820;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("./image/bubble.png");
    background-size: cover;
  }
}

.switcher{
  font-size: 30px;
  z-index: 1000;
  cursor: pointer;
  color: #86c06c;
  position: absolute;
  vertical-align: middle;
  //text-shadow: 3px 1px 2px #071820 ;
  text-align: center;
  display: block;
  box-sizing: border-box;
  padding: 5px 11px;
  letter-spacing: 3px;
  &.prev {
    left: -44px;
    top: -15px;
  }
  &.next {
    padding-left: 6px;
    top: -15px;
    right: -44px;

  }

  &:hover{
  }
}


.subMenu {
  position: fixed;
  top: calc(50% - 146px);
  left: 50%;
  width: 50px;
  transform: translate(-50%, -50%);
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.settingsIcon {
  position: absolute;
  top: 18px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.ccIcon {
  position: absolute;
  top: 11px;
  left: -44px;
}
.shareIcon {
  position: absolute;
  top: 11px;
  right: -44px;
}

.share {
  &__button {
    display: inline-block;
    margin: 3px 2px;
    opacity: 0.8;
    transition: opacity 0.2s;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    position: relative;
    outline: none;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("./image/bubble.png");
      background-size: cover;
      pointer-events: none;
    }
    &:hover,
    &:active{
      opacity: 1;
      box-shadow: 0px 0px 2px #071820;
    }
  }
}

.info {
  background: #071820;
  border-radius: 20px;
  padding: 8px 6px 0;
  width: 250px;
  height: 174px;
  top: calc(50% - 3px);
  &__title{
    color: #dff8d0;
    margin-top: 4px;
    font-size: 12px;
    text-align: justify;
    line-height: 20px;
  }
  &__link{
    color: #dff8d0 !important;
    text-decoration: none !important;
    font-weight: 700;
    font-size: 14px;
    display: inline-block;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    &:hover{
      opacity: 0.9;
    }
    &_stn{
      float: right;
      &:hover{
        transform: scale(1.2);
      }
    }

  }
  &__insta{
    float: right;
    background: #fff;
    color: #071820 !important;
    padding: 0px 4px;
    border-radius: 4px;
    text-decoration: none !important;
    font-weight: 700;
    font-size: 14px;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    &:hover{
      transform: scale(1.1);
    }
  }
  &__buy {
    display: inline-block;
    margin-top: 6px;
    text-decoration: none !important;
    width: 100%;
    padding: 2px;
    background: #dff8d0;
    color: #071820 !important;
    font-weight: 700;
    font-size: 14px;
    border-radius: 4px;
    animation: buyLink 1s linear infinite;
  }
  &__description {
    color: #dff8d0;
    margin-top: 2px;
    font-size: 12px;
    line-height: 1.6em;
    text-align: center;
  }
  &__gradient {

    background: -webkit-linear-gradient(45deg, #e68e71, #ebea88);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media screen and (max-width: 600px)  {
  .mainLogo {
    max-width: 100vw;
    top: 36%;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .mainLogo {
    max-width: 80vw;
    top: 36%;
  }
}