@import "scss-variables";
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import "~react-input-range-ios-fix/lib/css/index.css";
@import "~@appigram/react-rangeslider/lib/index.css";
$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';

$material-icons-codepoints: () !default; /* Sass map of icon names and codepoints */
$material-icons-font-path: '' !default;
$material-icons-font-name: 'MaterialIcons-Regular' !default;
$material-icons-font-size: 24px !default;
$material-icons-font-family: 'Material Icons' !default;

.material-icons {
  @include material-icons();
}

body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  &:before {
    content: "";
    position: absolute;
    width: 400%;
    height: 400%;
    top: -150%;
    left: -150%;
    //background-image: url('./image/milky_way.jpg');
    background-position: 50% 50%;
    background-size: 30%;
    background-repeat: no-repeat;
    animation-name: milkyway;
    animation-duration: 600s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    opacity: 0.5;
  }
}

@keyframes milkyway {
  0%   {
    transform: rotate(0deg);
  }
  50%  {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

* { padding:0; margin:0;}
html, body {
  height:100%;
  overflow: hidden;
  background-color: var(--black);
}
.visualiser-element,
.boy-element {
  position: fixed;
  top: 0;
  left: 0;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #86c06c;
  user-select: none;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

  &.md-18 { font-size: 18px; }
  &.md-24 { font-size: 24px; }
  &.md-36 { font-size: 36px; }
  &.md-48 { font-size: 48px; }
}
.switcher{
  font-size: 30px;
  z-index: 1000;
  cursor: pointer;
  color: #dff8d0;
  position: fixed;
  top: calc(50% - 24px);
  vertical-align: middle;
  transform: translateX(-50%);
  text-shadow: 3px 0px 2px #071820 ;
  transition: all 0.2s;
  opacity: 0.4;
  &.prev {
    left: calc(50% - 112px);
  }
  &.next {
    left: calc(50% + 120px);
  }
  &:hover{
    opacity: 1;
    color: #86c06c;

  }
}



.startButton{
  font-size: 30px;
  z-index: 1000;
  cursor: pointer;
  padding: 0;
  text-shadow: 2px 2px 2px #071820 ;
  position: fixed;
  margin: 0 auto;
  color: #dff8d0;
  top: calc(50% + 108px);
  left: 50%;
  transform: translateX(-50%);
  transition: color 0.2s, opacity 0.2s;
  opacity: 0.4;
  &:hover{
    opacity: 1;
    color: #86c06c;
  }
}

.progressSwitcher {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.input-range__slider{
  width: 10px;
  height: 10px;
  margin-top: -6px;
  border-color: #316851;
  background: #dff8d0;

}
.input-range__track {
  height: 6px;

}
.input-range__track--active{
  background: #dff8d0;
  height: 10px;
  margin-top: -2px;
}
.input-range__slider-container{
  margin-top: -5px;
  & > span {
    display: none;
  }
}
.input-range__track--background{
  background: #86c06c;
}


.mainLogo{
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 60vw;
  vertical-align: middle;
  transform: translate(-50%, -50%);
  display: block;
}
.hidden-text{
  position: fixed;
  top:0;
  left: 0;
  opacity: 0;
}
.trackImage {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 338px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  display: block;
  &.boy {
    left: calc(50% + 4px);
    width: 200px;
    border-radius: 0;
  }
}


.menuIcon{
  position: fixed;
  top: calc(50% - 130px);
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  padding: 6px;
}

.settings{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 234px;
  height: 240px;
  overflow: hidden;
  box-sizing: border-box;
  padding-top: 20px;
  &__title {
    color: #dff8d0;
  }
}

.volumeSwitcher{
  width: 160px;
  position: relative;
  margin: 0 auto;
  & > span {
    display: none;
  }
}
.switcherHeader{
  position: relative;
  margin: 0 auto 4px;
  display: block;
  cursor: pointer;
  text-shadow: 3px 0px 2px #071820 ;
  color: #86c06c;
  transition: color 0.2s;
  &.active {
    color: #dff8d0;
    .audioSwitcher {
      color: #dff8d0;
    }
  }
}

.audioSwitcher{
  color: #86c06c;
  display: inline-block;
  margin: 0 3px;
  padding: 0;
  line-height: 24px;
  vertical-align: middle;
  transition: color 0.2s;
}
.volumeValue {
  position: fixed;
  top: 10px;
  left: 50%;
  color: #86c06c;
}